<div id="aboutMeComponent">
    <div class="alignElements">
        <h1>{{'label.mainComponent.menu.aboutMe' | translate}}</h1>
        <span>{{ 'label.aboutMe.presentation' | translate }}</span>
        <br>
        <span>{{ 'label.aboutMe.degree' | translate }}</span>
        <br>
        <span>{{ 'label.aboutMe.muii' | translate }}</span>
        <br>
        <span>{{ 'label.aboutMe.work' | translate }}</span>
        <br><br>
        <div class="alignElements">
            <span>{{ 'label.aboutMe.followMe' | translate }}</span>
            <br><br>
            <img src="../../../assets/images/rrss-linkedin.png" (click)="openTabUrl('https://www.linkedin.com/in/sergio-perez-sanchez/')" class="photoRRSSStyle">
            <img src="../../../assets/images/rrss-x.png" (click)="openTabUrl('https://twitter.com/SergioPSIngInf')" class="photoRRSSStyle">
            <img src="../../../assets/images/rrss-facebook.png" (click)="openTabUrl('https://www.facebook.com/sergio.perezsanchez.90475')" class="photoRRSSStyle">
        </div>
    </div>
</div>