#aboutMeComponent .alignTitleSection{
    text-align: center;
}

#aboutMeComponent .titleSection{
    font-size: 30px;
}

#aboutMeComponent .photoProfileStyle{
    height: 200px;
    width: auto;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#aboutMeComponent .photoRRSSStyle{
    margin-right: 10px;
    height: 30px;
    width: auto;
}

#aboutMeComponent .photoRRSSStyle:hover{
    cursor: pointer;
}

#aboutMeComponent .stylesIconNavbar{
    margin-right: 5px;
}