#aboutMeComponent .alignElements{
    text-align: center;
}

#aboutMeComponent .photoRRSSStyle{
    margin-right: 10px;
    height: 30px;
    width: auto;
}

#aboutMeComponent .photoRRSSStyle:hover{
    cursor: pointer;
}