#trainingComponent .alignElements{
    text-align: center;
}
#trainingComponent .subtitle-style{
    font-style: italic;
}

#trainingComponent .margin-title{
    margin-left: 60px;
}

#trainingComponent .margin-content{
    margin-left: 100px;
}