<div id="trainingComponent">
    <ng-container *ngIf="getListTraining()">
        <ng-container *ngFor="let eTraining of getListTraining()">
            <div>
                <h2>{{eTraining.title | translate}}</h2>
                <span class="subtitle-style">{{eTraining.subtitle | translate}}</span>
                <br>
                <span>{{eTraining.content | translate}}</span>
                <br>
                <span class="subtitle-style">{{eTraining.tfe | translate}}</span>
            </div>
            <br><br>
        </ng-container>
    </ng-container>
</div>

