#trainingComponent .alignSection{
    text-align: center;
}

#trainingComponent .stylesIconNavbar{
    margin-right: 5px;
}

#trainingComponent .subtitle-style{
    font-style: italic;
}

@media (min-width: 768px){
    #trainingComponent .subtitle-training{
        font-size: 20px;
        font-weight: bold;
    }
    #trainingComponent .main-title{
        font-size: 25px;
        font-style: italic;
        font-weight: bold;
    }
}

@media (max-width: 768px){
    #trainingComponent .subtitle-training{
        font-size: 15px;
        font-weight: bold;
    }
    #trainingComponent .main-title{
        font-size: 20px;
        font-style: italic;
        font-weight: bold;
    }
}

@media (max-width: 425px){
    #trainingComponent .subtitle-training{
        font-size: 10px;
        font-weight: bold;
    }
    #trainingComponent .main-title{
        font-size: 15px;
        font-style: italic;
        font-weight: bold;
    }
}