#trainingComponent .alignSection{
    text-align: center;
}

#trainingComponent .titleSection{
    font-size: 40px;
}

#trainingComponent .stylesIconNavbar{
    margin-right: 5px;
}

#trainingComponent .subtitle-style{
    font-style: italic;
}

#trainingComponent .main-title{
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

#trainingComponent .margin-content{
    margin-left: 100px;
}