<div id="trainingComponent">
    <div class="alignSection">
        <ng-container *ngIf="getListUniversityTraining()">
            <div style="text-align: center;">
                <span class="subtitle-training"><i class="fa fa-school stylesIconNavbar"></i>{{'label.training.title.university' | translate}}</span>
            </div>
            <br>
            <div>
                <ng-container *ngFor="let eTraining of getListUniversityTraining(); let elemLast = last;">
                    <span class="main-title"><i class="fa fa-certificate" style="margin-right: 10px"></i>({{eTraining.date | translate}}) {{eTraining.title | translate}}</span>
                    <br>
                    <span class="subtitle-style">{{eTraining.subtitle | translate}}</span>
                    <br>
                    <span class="subtitle-style">{{eTraining.content | translate}}</span>
                    <br>
                    <span class="subtitle-style">{{eTraining.tfe | translate}}</span>
                    <br *ngIf="!elemLast">
                    <br *ngIf="!elemLast">
                </ng-container>
            </div>
        </ng-container>
        <br><br>
        <ng-container *ngIf="getListOtherTraining()">
            <div style="text-align: center;">
                <span class="subtitle-training"><i class="fa fa-building-columns stylesIconNavbar"></i>{{'label.training.title.others' | translate}}</span>
            </div>
            <br>
            <ng-container *ngFor="let eTraining of getListOtherTraining(); let elemLast = last;">
                <div>
                    <span class="main-title"><i class="fa fa-certificate" style="margin-right: 10px"></i>{{eTraining.title | translate}}</span>
                    <br>
                    <span class="subtitle-style">{{eTraining.date | translate}}</span>
                    <br>
                    <a href="{{eTraining.link}}">{{'label.training.link' | translate}}</a>
                    <br>
                </div>
                <br *ngIf="!elemLast">
                <br *ngIf="!elemLast">
            </ng-container>
        </ng-container>
    </div>
</div>

