<div id="mainWebsiteComponent">
    <ul>
        <li><a id="btn-nav-aboutMe" (click)="changeActive('btn-nav-aboutMe')" href="#sectionAboutMe" class="fontSizeNavbar active">{{'label.mainComponent.menu.aboutMe' | translate}}</a></li>
        <li><a id="btn-nav-training" (click)="changeActive('btn-nav-training')" href="#sectionTraining" class="fontSizeNavbar">{{'label.mainComponent.menu.training' | translate}}</a></li>
        <li><a id="btn-nav-experience" (click)="changeActive('btn-nav-experience')" href="#sectionExperience" class="fontSizeNavbar">{{'label.mainComponent.menu.professionalExperience' | translate}}</a></li>
        <li><a id="btn-nav-abbilities" (click)="changeActive('btn-nav-abbilities')" href="#sectionAbbilities" class="fontSizeNavbar">{{'label.mainComponent.menu.skillsAbilities' | translate}}</a></li>
        <li style="float:right">
            <img src="../../../assets/images/spanish-language.png" (click)="changeLanguage('es')" class="imageLanguageStyle">
        </li>
        <li style="float:right">
            <img src="../../../assets/images/english-language.png" (click)="changeLanguage('en')" class="imageLanguageStyle">
        </li>
    </ul>
    <app-about-me-component id="sectionAboutMe"></app-about-me-component>
    <br><br>
    <app-training-component id="sectionTraining"></app-training-component>
    <br><br>
    <app-professional-experience-component id="sectionExperience"></app-professional-experience-component>
    <br><br>
    <app-skills-abilities-component id="sectionAbbilities"></app-skills-abilities-component>
    <br><br>
</div>