/*Responsive*/

@media screen and (min-width: 700px){

    #mainWebsiteLargeComponent{
        display: flex;
    }

    #mainWebsiteSmallComponent{
        display: none;
    }

}

@media (max-width: 700px){

    #mainWebsiteLargeComponent{
        display: none;
    }

    #mainWebsiteSmallComponent{
        display: block;
    }

}

/*Large Resolutions*/

/*Pagina Principal*/
#mainWebsiteLargeComponent{
    width: 100%;
    height: 100%;
    text-align: center;
}

/*Panel Izquierdo - Opciones*/
#mainWebsiteLargeComponent .panel-info-options{
    display: inline;
}

#mainWebsiteLargeComponent .selectOptionInfoAboutMe.active,
#mainWebsiteLargeComponent .selectOptionInfoAboutMe:hover{
    background-color: #FBFFA5;
    cursor: pointer;
}

#mainWebsiteLargeComponent .selectOptionInfoTraining.active,
#mainWebsiteLargeComponent .selectOptionInfoTraining:hover{
    background-color: #A5FFBC;
    cursor: pointer;
}

#mainWebsiteLargeComponent .selectOptionInfoProfessionalExperience.active,
#mainWebsiteLargeComponent .selectOptionInfoProfessionalExperience:hover{
    background-color: #A5F4FF;
    cursor: pointer;
}

#mainWebsiteLargeComponent .selectOptionInfoSkillsAbilities.active,
#mainWebsiteLargeComponent .selectOptionInfoSkillsAbilities:hover{
    background-color: #FF7777;
    cursor: pointer;
}

#mainWebsiteLargeComponent .photoProfileStyle{
    height: 160px;
    width: auto;
    border-radius: 50%;
    display: block;
    margin: 40px;
}

#mainWebsiteLargeComponent .table-style-info{
    width: 100%;
    background-color: gainsboro;
}

#mainWebsiteLargeComponent .table-style-info > tr{
    height: 50px;
}

#mainWebsiteLargeComponent .imageLanguageStyle{
    margin-left: 5px;
    height: 20px;
    width: auto;
}

#mainWebsiteLargeComponent .imageLanguageStyle:hover{
    cursor: pointer;
}

/*Panel Derecho - Contenido*/
#mainWebsiteLargeComponent .panel-info-content{
    display: inline;
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

/*Small Resolutions*/

/*Pagina Principal*/
#mainWebsiteSmallComponent{
    width: 100%;
    height: 100%;
}

#mainWebsiteSmallComponent .panel-info-options{
    height: 100px;
}

#mainWebsiteSmallComponent .photoProfileStyle{
    height: 80px;
    width: auto;
    border-radius: 50%;
    display: block;
    margin: 10px;
}

#mainWebsiteSmallComponent .panel-info-content{
    padding: 10px;
}

/* The container <div> - needed to position the dropdown content */
#mainWebsiteSmallComponent .dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
#mainWebsiteSmallComponent .dropdown-content {
    display: none;
    position: absolute;
    background-color: gainsboro;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 20px;
    top: 90px;
    left: -10px;
    border: 1px solid black;
}

/* Links inside the dropdown */
#mainWebsiteSmallComponent .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
#mainWebsiteSmallComponent .dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
#mainWebsiteSmallComponent .dropdown:hover .dropdown-content {
    display: block;
    width: max-content;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
#mainWebsiteSmallComponent .dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

#mainWebsiteSmallComponent .imageLanguageStyle{
    margin-left: 5px;
    height: 20px;
    width: auto;
}

#mainWebsiteSmallComponent .imageLanguageStyle:hover{
    cursor: pointer;
}

#mainWebsiteSmallComponent .selectOptionInfoAboutMe.active,
#mainWebsiteSmallComponent .selectOptionInfoAboutMe:hover{
    background-color: #FBFFA5;
    cursor: pointer;
}

#mainWebsiteSmallComponent .selectOptionInfoTraining.active,
#mainWebsiteSmallComponent .selectOptionInfoTraining:hover{
    background-color: #A5FFBC;
    cursor: pointer;
}

#mainWebsiteSmallComponent .selectOptionInfoProfessionalExperience.active,
#mainWebsiteSmallComponent .selectOptionInfoProfessionalExperience:hover{
    background-color: #A5F4FF;
    cursor: pointer;
}

#mainWebsiteSmallComponent .selectOptionInfoSkillsAbilities.active,
#mainWebsiteSmallComponent .selectOptionInfoSkillsAbilities:hover{
    background-color: #FF7777;
    cursor: pointer;
}