<div class="background-main-component">
    <mat-tab-group>
        <mat-tab label="Sobre Mi">
            <app-about-me-component></app-about-me-component>
        </mat-tab>
        <mat-tab label="Formación">
            <app-training-component></app-training-component>
        </mat-tab>
        <mat-tab label="Experiencia Profesional">
            <app-professional-experience-component></app-professional-experience-component>
        </mat-tab>
        <mat-tab label="Habilidades">
            <app-skills-abilities-component></app-skills-abilities-component>
        </mat-tab>
    </mat-tab-group>
</div>