<div id="mainWebsiteLargeComponent">
    <div class="panel-info-options">
        <table class="table-style-info">
            <tr>
                <td>
                    <img src="../../../assets/images/photo-profile.jpg" class="photoProfileStyle">
                </td>
            </tr>
            <tr>
                <td class="selectOptionInfo" (click)="showComponent('aboutMe')">
                    <span>{{'label.mainComponent.menu.aboutMe' | translate}}</span>   
                </td>
            </tr>
            <tr>
                <td class="selectOptionInfo" (click)="showComponent('training')">
                    <span>{{'label.mainComponent.menu.training' | translate}}</span>
                </td>
            </tr>
            <tr>
                <td class="selectOptionInfo" (click)="showComponent('professionalExperience')">
                    <span>{{'label.mainComponent.menu.professionalExperience' | translate}}</span>
                </td>
            </tr>
            <tr>
                <td class="selectOptionInfo" (click)="showComponent('skillsAbilities')">
                    <span>{{'label.mainComponent.menu.skillsAbilities' | translate}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="../../../assets/images/spanish-language.png" (click)="changeLanguage('es')" class="imageLanguageStyle">
                    <img src="../../../assets/images/english-language.png" (click)="changeLanguage('en')" class="imageLanguageStyle">
                </td>
            </tr>
        </table>
    </div>
    <div class="panel-info-content">
        <app-about-me-component *ngIf="nameShowComponent == 'aboutMe'"></app-about-me-component>
        <app-training-component *ngIf="nameShowComponent == 'training'"></app-training-component>
        <app-professional-experience-component *ngIf="nameShowComponent == 'professionalExperience'"></app-professional-experience-component>
        <app-skills-abilities-component *ngIf="nameShowComponent == 'skillsAbilities'"></app-skills-abilities-component>
    </div>
</div>

<div id="mainWebsiteSmallComponent">
    <div class="panel-info-options dropdown">
        <img src="../../../assets/images/photo-profile.jpg" (click)="showDropdown = !showDropdown" class="photoProfileStyle dropbtn">
        <div class="dropdown-content">
            <span class="selectOptionInfo" (click)="showComponent('aboutMe')">{{'label.mainComponent.menu.aboutMe' | translate}}</span>
            <br>
            <span class="selectOptionInfo" (click)="showComponent('training')">{{'label.mainComponent.menu.training' | translate}}</span>
            <br>
            <span class="selectOptionInfo" (click)="showComponent('professionalExperience')">{{'label.mainComponent.menu.professionalExperience' | translate}}</span>
            <br>
            <span class="selectOptionInfo" (click)="showComponent('skillsAbilities')">{{'label.mainComponent.menu.skillsAbilities' | translate}}</span>
            <br>
            <img src="../../../assets/images/spanish-language.png" (click)="changeLanguage('es')" class="imageLanguageStyle">
            <img src="../../../assets/images/english-language.png" (click)="changeLanguage('en')" class="imageLanguageStyle">
        </div>
    </div>
    <br>
    <div class="panel-info-content">
        <app-about-me-component *ngIf="nameShowComponent == 'aboutMe'"></app-about-me-component>
        <app-training-component *ngIf="nameShowComponent == 'training'"></app-training-component>
        <app-professional-experience-component *ngIf="nameShowComponent == 'professionalExperience'"></app-professional-experience-component>
        <app-skills-abilities-component *ngIf="nameShowComponent == 'skillsAbilities'"></app-skills-abilities-component>
    </div>
</div>