#skillAbbilitiesComponent .alignSection{
    text-align: center;
}

@media (min-width: 768px){

    #skillAbbilitiesComponent .name-abbility{
        font-style: italic;
        font-weight: bold;
        font-size: 20px;
    }
    
    #skillAbbilitiesComponent .description-abbility{
        font-size: 18px;
    }

}

@media (max-width: 768px){

    #skillAbbilitiesComponent .name-abbility{
        font-style: italic;
        font-weight: bold;
        font-size: 18px;
    }
    
    #skillAbbilitiesComponent .description-abbility{
        font-size: 16px;
    }

}

@media (max-width: 425px){

    #skillAbbilitiesComponent .name-abbility{
        font-style: italic;
        font-weight: bold;
        font-size: 16px;
    }
    
    #skillAbbilitiesComponent .description-abbility{
        font-size: 14px;
    }

}