<div id="skillAbbilitiesComponent" (mouseover)="updateNavbar.emit()">
    <br><br><br><br>
    <div class="alignSection">
        <span class="titleSection"><i class="fa fa-user-gear stylesIconNavbar"></i>{{'label.mainComponent.menu.skillsAbilities' | translate}}</span>
        <ng-container *ngIf="getListAbbilities()">
            <ng-container *ngFor="let eAbbility of getListAbbilities(); let elemLast = last;">
                <div>
                    <br>
                    <span class="subtitle-style margin-title-job">{{eAbbility.nameAbbility | translate}}</span>
                    <br>
                    <span class="margin-content-job">{{eAbbility.description | translate}}</span>
                    <br>
                </div>
                <br *ngIf="!elemLast">
                <br *ngIf="!elemLast">
            </ng-container>
        </ng-container>
    </div>
</div>