<div id="skillAbbilitiesComponent">
    <div class="alignSection">
        <ng-container *ngIf="getListAbbilities()">
            <ng-container *ngFor="let eAbbility of getListAbbilities(); let elemLast = last;">
                <div>
                    <span class="name-abbility"><i class="fa fa-book-bookmark name-abbility" style="margin-right: 10px"></i>{{eAbbility.nameAbbility | translate}}</span>
                    <br>
                    <span class="description-abbility">{{eAbbility.description | translate}}</span>
                    <br>
                </div>
                <br *ngIf="!elemLast">
                <br *ngIf="!elemLast">
            </ng-container>
        </ng-container>
    </div>
</div>