#skillAbbilitiesComponent .alignElements{
    text-align: center;
}

#skillAbbilitiesComponent .stylesIconNavbar{
    margin-right: 5px;
}

#skillAbbilitiesComponent .subtitle-style{
    font-style: italic;
}

#skillAbbilitiesComponent .description-job{
    margin-top: -20px;
}

#skillAbbilitiesComponent .margin-title-job{
    margin-left: 40px;
}

#skillAbbilitiesComponent .margin-content-job{
    margin-left: 80px;
}