#profesionalExperienceComponent .alignSection{
    text-align: center;
}

#profesionalExperienceComponent .titleSection{
    font-size: 40px;
}

#profesionalExperienceComponent .stylesIconNavbar{
    margin-right: 5px;
}

#profesionalExperienceComponent .subtitle-style{
    font-style: italic;
}

#profesionalExperienceComponent .description-job{
    margin-top: -20px;
}

#profesionalExperienceComponent .margin-title-job{
    margin-left: 40px;
}

#profesionalExperienceComponent .margin-content-job{
    margin-left: 80px;
}