<div id="profesionalExperienceComponent">
    <br>
    <div class="alignSection">
        <ng-container *ngIf="getListExperiences()">
            <ng-container *ngFor="let eExperience of getListExperiences(); let elemLast = last;">
                <div>
                    <span class="fontStyle-title"><i class="fa fa-briefcase fontStyle-title" style="margin-right: 10px"></i>{{eExperience.job | translate}}</span>
                    <br>
                    <span class="fontStyle-date">{{eExperience.date | translate}}</span>
                    <br>
                    <span class="fontStyle-company">{{eExperience.company | translate}}</span>
                    <br>
                    <span class="fontStyle-description">{{eExperience.description | translate}}</span>
                    <br>
                    <span class="fontStyle-apptitude">{{eExperience.apptitude | translate}}</span>
                </div>
                <br *ngIf="!elemLast">
                <br *ngIf="!elemLast">
            </ng-container>
        </ng-container>
    </div>
</div>
