#profesionalExperienceComponent .alignSection{
    text-align: center;
}

@media (min-width: 768px){

    #profesionalExperienceComponent .fontStyle-title{
        font-weight: bold;
        font-size: 17px;
    }
    
    #profesionalExperienceComponent .fontStyle-date{
        font-size: 16px;
    }
    
    #profesionalExperienceComponent .fontStyle-company{
        font-style: italic;
        font-size: 15px;
    }
    
    #profesionalExperienceComponent .fontStyle-description{
        font-size: 15px;
    }
    
    #profesionalExperienceComponent .fontStyle-apptitude{
        font-size: 15px;
    }

}

@media (max-width: 768px){

    #profesionalExperienceComponent .fontStyle-title{
        font-weight: bold;
        font-size: 16px;
    }
    
    #profesionalExperienceComponent .fontStyle-date{
        font-size: 15px;
    }
    
    #profesionalExperienceComponent .fontStyle-company{
        font-style: italic;
        font-size: 14px;
    }
    
    #profesionalExperienceComponent .fontStyle-description{
        font-size: 14px;
    }
    
    #profesionalExperienceComponent .fontStyle-apptitude{
        font-size: 14px;
    }

}

@media (max-width: 375px){

    #profesionalExperienceComponent .fontStyle-title{
        font-weight: bold;
        font-size: 15px;
    }
    
    #profesionalExperienceComponent .fontStyle-date{
        font-size: 14px;
    }
    
    #profesionalExperienceComponent .fontStyle-company{
        font-style: italic;
        font-size: 12px;
    }
    
    #profesionalExperienceComponent .fontStyle-description{
        font-size: 12px;
    }
    
    #profesionalExperienceComponent .fontStyle-apptitude{
        font-size: 12px;
    }

}