<div id="profesionalExperienceComponent" (mouseover)="updateNavbar.emit()">
    <br><br><br><br>
    <div>
        <span class="titleSection"><i class="fa fa-user-tie stylesIconNavbar"></i>{{'label.mainComponent.menu.professionalExperience' | translate}}</span>
        <br>
        <ng-container *ngIf="getListExperiences()">
            <ng-container *ngFor="let eExperience of getListExperiences(); let elemLast = last;">
                <div>
                    <h1 class="description-job margin-title-job">{{eExperience.job | translate}}</h1>
                    <h2 class="margin-title-job">{{eExperience.date | translate}}</h2>
                    <br>
                    <span class="subtitle-style margin-content-job">{{eExperience.company | translate}}</span>
                    <br>
                    <span class="margin-content-job">{{eExperience.description | translate}}</span>
                    <br>
                    <span class="margin-content-job">{{eExperience.apptitude | translate}}</span>
                </div>
                <br *ngIf="!elemLast">
                <br *ngIf="!elemLast">
            </ng-container>
        </ng-container>
    </div>
</div>
